#page-login{
    margin: 5%;
    border: 1px solid rgb(230, 230, 230);
}
.body-content{
    margin: 0 auto;
    position: relative;
    display: inline;
}


#left{
    height: 100%;
    margin: 0;
    padding: 0;
    height: 512px;
}

#footer{
    visibility: hidden;
}


/*Responsive*/

@media screen and (max-width: 600px)
{

    .body-content{
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    #footer{
        visibility: visible;
        color: gray;
        float: bottom;
    }


}


