.footer-content{
    height: 50px;
    background-color: rgb(69, 158, 128);
    text-align: left;
    margin: 0 50px 0 50px;
}

.footer-content p{
    padding-left: 15px;
    color: #fff;
    padding-top: 15px;
}